@media screen and (max-width: 1700px)
	.videoText 
		.videoText_inner 							
			.videoText_title
				font-size: 65px

@media screen and (max-width: 1366px)
	.loader, .slash
		height: 150px
		width: 10px
		margin: 0
	.headerSlogan 
		span
			font-size: 28px
		div
			right: -276px
			width: 280px
			height: 130px
			span
				line-height: 1.3
	.logo
		img
			padding-left: 5px
			max-width: 520px
	
	.arrowScroll
		width: 90px

	.logoHeader
		.box
			padding-bottom: 10%

	.mainMenu
		ul
			li
				span
					right: 25%
					font-weight: 300
				a
					font-size: 50px
					line-height: 1.5


		
		.menuFooter 
			bottom: 3%
			.footerEmail
				font-size: 16px
			.tenderBtn
				margin: 15px 0

	.videoText 
		.videoText_inner 
			.slash
				margin: 0 4.5% 0 0
			p
				font-size: 14px
				padding-left: 8%
			a
				margin: 8% 0 0 8%
				height: 56px
				line-height: 56px 
				font-size: 27px
				width: 280px
			.videoText_title
				font-size: 60px

	.tenderForm_block
		height: 65%
		bottom: -65%
		padding: 3%
		.tenderTitle
			font-size: 30px
			margin-bottom: 15px
		.tenderText
			font-size: 16px
			line-height: 1.2
			margin-bottom: 2%
		.tenderForm
			.tenderLabel
				font-size: 16px
			.left
				width: 45%
			.right
				width: 45%
		.copyTender
			margin-top: 2%

	.tehnologyBlock 
		.slash
			top: -10%
			left: -8%