<template>
  <div id="app" class="">    
      <router-view></router-view>  
      <a href="#" class="menu-button" id="menuButton" v-on:click="openMenu" v-bind:class="{ active: menuOpen }">
         <span class="burger-icon"></span>
      </a>
      <div class="mainMenu">
         <div class="menuline"></div>
         <div class="menuspash">
            <ul>         
               <li><router-link to="/" v-on:click.native="openMenu">Главная</router-link><span>Передовые технологии позволяют нам делать свою работу быстрее, выше и лучше.</span></li>
               <li><router-link to="/tehnology" v-on:click.native="openMenu">Технологии</router-link><span>Передовые технологии позволяют нам делать свою работу быстрее, выше и лучше.</span></li>
               <li><router-link to="/partners" v-on:click.native="openMenu">Партнёры</router-link><span>Передовые технологии позволяют нам делать свою работу быстрее, выше и лучше.</span></li>
               <li><router-link to="/projects" v-on:click.native="openMenu">Проекты</router-link><span>Передовые технологии позволяют нам делать свою работу быстрее, выше и лучше.</span></li>
               <li><router-link to="/about" v-on:click.native="openMenu">О Компании</router-link>  <span>Передовые технологии позволяют нам делать свою работу быстрее, выше и лучше.</span></li>
            </ul>
            <div class="menuFooter">
               <div class="footerEmail">office@ants-group.com</div>
               <div class="tenderBtn" v-on:click="showForm">Пригласить на тендер</div>
               <div class="bottomline">
                  <div class="footerInf">
                     <span>2018 © ANTS Group</span>
                     <div class="social">
                        <a href="#" class="yo"></a>
                        <a href="#" class="sk"></a>
                        <a href="#" class="vb"></a>
                     </div>                  
                  </div>
                  <div class="developer"><span>Разработка</span></div>
               </div>
            </div>
            <div class="tenderForm_block">
               <span class="tenderTitle">Пригласить на тендер</span>
               <span class="tenderText">Спасибо за проявленный интерес! <br> Оставьте свои контактные данные, и мы сразу вышлем Вам <br> пакет тендерной документации по выбранным направлениям.</span>
               <div class="tenderForm">
                  <div class="left">
                     <input type="text" name="name" value="" placeholder="Имя">
                     <input type="text" name="nameOrganization" value="" placeholder="Организация / компания">
                     <input type="text" name="tenderEmail" value="" placeholder="Электронная почта">
                     <input type="checkbox" name="tenderRulez" id="tenderRulez" value="">
                     <label for="tenderRulez">
                        <span>Согласен с <a href="#">условиями</a> обработки персональных данных</span>
                     </label>
                     <a href="#" class="tenderBtn cancelTender" v-on:click="showForm">Отмена</a>
                  </div>
                  <div class="right">
                     <span class="tenderLabel">тендерная документация:</span>
                     <input type="checkbox" name="proectTender" id="proectTender" value="">
                     <label for="proectTender">Проектирование</label>
                     <input type="checkbox" name="stroyTender" id="stroyTender" value="">
                     <label for="stroyTender">Строительство</label>
                     <input type="checkbox" name="explTender" id="explTender" value="">
                     <label for="explTender">Эксплуатация</label>                     
                     <a href="#" class="tenderBtn sendTender">Отправить приглашение</a>
                  </div>
               </div>  
               <div class="copyTender">2018 © ANTS Group</div>            
            </div>
         </div>
         <div class="menuoverley" v-on:click="openMenu"></div>         
      </div>      
  </div>
</template>
      
<script>

import anime from 'animejs';
import { router } from './main'

export default {
  
   name: 'app',
   data () {
      return {         
         menuOpen: false,            
         menuTimeline: anime.timeline({
            loop: false,
            autoplay: false,
            duration: 380,
            direction: 'alternative',
            easing: 'easeInOutBack',            
         }),        
         currentPage: router.history.current.path,
         tenderOpen: false,
         formAnim: anime.timeline({
            loop: false,
            autoplay: false,
            duration: 500,
            direction: 'alternative',
            easing: 'linear'
         })
      }
   },
   watch: {
      $route(to, from) {
         this.currentPage = to.path
      }
   },
   methods: {
      openMenu(){
         this.menuOpen = !this.menuOpen;
         if (this.menuOpen) {
            if (this.menuTimeline.reversed) this.menuTimeline.reverse();
            this.menuTimeline.play();
         } else {
            if (!this.menuTimeline.reversed) this.menuTimeline.reverse();
            this.menuTimeline.play();
            if (this.tenderOpen) {
               this.showForm();
            }
         }            
      }, 
      showForm: function(){         
         this.tenderOpen = !this.tenderOpen;
         if (this.tenderOpen) {
            if (this.formAnim.reversed) this.formAnim.reverse();
            this.formAnim.play();
         } else {
            if (!this.formAnim.reversed) this.formAnim.reverse();
            this.formAnim.play();
         }
      }
   },
   mounted() {   

      var width = window.innerWidth,
         widthMenu = 0, fsize;

         switch(true){
            case width > 1700:
               widthMenu = 54;
               fsize = '30px';
            break;
            case width > 1024 && width < 1700:
               widthMenu = 64;
               fsize = '20px';
            break;
            case width <= 1024: 
               widthMenu = 100;
               fsize = '20px';
            break;
         }


      this.menuTimeline.add({
         targets: '.mainMenu',         
         width: '100%',
         opacity: 1
      }).add({
         targets: '.menuoverley', 
         opacity: 1,
         offset: '-=350'
      }).add({
         targets: '.menuline', 
         height: '100%',         
      }).add({
         targets: '.menuspash', 
         width: widthMenu + '%',
         easing: 'easeInOutBack',     
      }).add({
         targets: '.mainMenu ul li',          
         translateX: 100,
         opacity: 1,         
         delay: function(el, i) { 
            return i * 100;
         }
      }).add({
         targets: '.menuFooter',
         opacity: 1,
         offset: '-=300'
      });

      this.formAnim.add({
         targets: '.tenderForm_block',         
         bottom: 0
      }).add({
         targets: '.menuspash ul a',
         fontSize: fsize,
         offset: '-=400'
      });

      
   },
   created() {  
     
   }

}
</script>

<style lang="sass">
   @import 'sass/main.sass' 
   
</style>