<template>
	<div class="page home_page">
		<div class="videoBlock">
			<video autobuffer preload muted id="videoscroll">
	  			<source src="../assets/video/Ants-TechPreview.mp4" type="video/mp4">  
			</video>			
		</div>
		<div class="scrollInner">
         	<div class="content">
            	<div class="logoHeader">
            		<div class="row middle-xs logoBlock">            		
            			<div class="col-xs-7 col-xs-offset-2 col-sm-7 col-sm-offset-2">
            				<div class="box">
								<div class="logo">
									<img src="../assets/img/logo.png" alt="">
								</div>
								<div class="loader"><i></i></div>				
								<div class="headerSlogan">
									<div>
										<span>Проектирование.</span>
										<span>Строительство.</span>
										<span>Управление.</span>
									</div>
								</div>
							</div>
						</div>
					</div>			
					<div class="arrowScroll"></div>					
				</div>			
				<div class="videoText">
					<div class="videoanimate">
						<div class="row middle-xs videoText_inner videotext1" v-bind:class="{ show: videoblock == 1 }">
							<div class="col-xs-7 col-xs-offset-5 col-lg-6 col-lg-offset-6">
								<div class="box">
									<div class="slash"><i></i></div>
									<span class="videoText_title">заголовок 1</span>
									<p>Проекти́рование — процесс определения архитектуры, компонентов, интерфейсов и других характеристик системы или её части. Результатом проектирования является прое́кт — целостная совокупность моделей, свойств или характеристик, описанных в форме, пригодной для реализации системы.</p>
									<a href="#" class="btn">
										<span class="btntext">Подробнее <i class="arrowBtn"></i></span>
										<span class="bgbtn"></span>
									</a>
								</div>							
							</div>
						</div>		
						<div class="row middle-xs videoText_inner videotext2" v-bind:class="{ show: videoblock == 2 }">
							<div class="col-xs-7 col-xs-offset-5 col-lg-6 col-lg-offset-6">
								<div class="box">
									<div class="slash"><i></i></div>
									<span class="videoText_title">заголовок 2</span>
									<p>Проекти́рование — процесс определения архитектуры, компонентов, интерфейсов и других характеристик системы или её части. Результатом проектирования является прое́кт — целостная совокупность моделей, свойств или характеристик, описанных в форме, пригодной для реализации системы.</p>
									<a href="#" class="btn">
										<span class="btntext">Подробнее <i class="arrowBtn"></i></span>
										<span class="bgbtn"></span>
									</a>
								</div>
							</div>
						</div>
						<div class="row middle-xs videoText_inner videotext3" v-bind:class="{ show: videoblock == 3 }">
							<div class="col-xs-7 col-xs-offset-5 col-lg-6 col-lg-offset-6">
								<div class="box">
									<div class="slash"><i></i></div>
									<span class="videoText_title">заголовок 3</span>
									<p>Проекти́рование — процесс определения архитектуры, компонентов, интерфейсов и других характеристик системы или её части. Результатом проектирования является прое́кт — целостная совокупность моделей, свойств или характеристик, описанных в форме, пригодной для реализации системы.</p>
									<a href="#" class="btn">
										<span class="btntext">Подробнее <i class="arrowBtn"></i></span>
										<span class="bgbtn"></span>
									</a>
								</div>
							</div>
						</div>	
					</div>
				</div>				
				<div class="tehnologyBlock">
					<div class="tehnologyContent">
						<div class="row">
							<div class="col-xs-5 col-xs-offset-1">
	    						<div class="box">    							
									<img src="../assets/img/tehnology_img.jpg" alt="технологии">
	    						</div>
	  						</div>
	  						<div class="col-xs-5 tehnologyInf">
	  							<div class="box">    
	  								<div class="slash"><i></i></div>							
									<div class="contentTitle">технологии</div>
									<div class="tehnologyTitlel2"><span>BIM-проектирование</span></div>
									<div class="tehnologyText">
										<p>Проекти́рование — процесс определения архитектуры, компонентов, интерфейсов и других характеристик системы или её части. <br>
										Результатом проектирования является прое́кт — целостная совокупность моделей, свойств или характеристик, описанных в форме, пригодной для реализации системы.</p>
									</div>
									<a href="#" class="moreLink">Подробнее</a>
	    						</div>
	  						</div>
	         			</div>
					</div> 
					<div class="projectContent">
						<div class="row">
							<div class="col-xs-5 col-xs-offset-1">
								<div class="box"> 
									<div class="projectInfo">
										<div class="slash"><i></i></div>
										<div class="contentTitle">проекты</div>
										<div class="projectText">
											<p>Проекти́рование — процесс определения архитектуры, компонентов, интерфейсов и других характеристик системы или её части.</p>
										</div>
									</div>
									<div class="projectImg img95">
										<img src="../assets/img/project_img2.jpg" alt="">
										<div class="projectInf pr2">
											<div class="projectNum">02</div>
											<div class="projectName">
												<a href="#">													
													<span>Прайм-тайм</span>
												</a>
												<span>Жилой комплекс в Москве</span>
											</div>
										</div>
									</div>									
								</div>	
								<a href="#" class="allProjcet_link">Все проекты &rarr;</a>
							</div>
							<div class="col-xs-5">
								<div class="box"> 
									<div class="projectImg img90">
										<img src="../assets/img/project_img1.jpg" alt="">	
										<div class="projectInf pr1">
											<div class="projectNum">01</div>
											<div class="projectName">
												<a href="#">													
													<span>Прайм-тайм</span>
												</a>
												<span>Жилой комплекс в Москве</span>
											</div>
										</div>
									</div>
									<div class="projectImg">
										<img src="../assets/img/project_img3.jpg" alt="">	
										<div class="projectInf pr3">
											<div class="projectNum">03</div>
											<div class="projectName">
												<a href="#">													
													<span>Прайм-тайм</span>
												</a>
												<span>Жилой комплекс в Москве</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>        			
					<div class="partnersBlock">
						<div class="row">
							<div class="col-xs-6 col-xs-offset-3">
								<div class="box"> 
									<div class="slash"><i></i></div>
									<div class="contentTitle">партнёры</div>
									<div class="partnersText">
										<p>Проекти́рование — процесс определения архитектуры, компонентов, интерфейсов и других характеристик системы или её части. Результатом проектирования является прое́кт — целостная совокупность моделей, свойств или характеристик, описанных в форме, пригодной для реализации системы.</p>
									</div>
									<div class="partnersList">
										<a href="#"><img src="../assets/img/partners/crossed.png" alt="">Crossed Triangle</a>
										<a href="#"><img src="../assets/img/partners/pyton_prog.png" height="62" width="62" alt="">Python Programming Solutions</a>
										<a href="#"><img src="../assets/img/partners/ysphere.png" height="62" width="62" alt="">Y-Sphere 365</a>
										<a href="#"><img src="../assets/img/partners/shape_modes.png" alt="">Shape Modes</a>
										<a href="#"><img src="../assets/img/partners/scatters.png" alt="">Rayleigh Scatterers</a>
										<a href="#"><img src="../assets/img/partners/one2root.png" alt="">ONE2ROOT2</a>
									</div>
									<a href="#" class="allPartners_link">Подробнее</a>
								</div>
							</div>
						</div>
					</div>
         		</div>
         		<footer>
         			<div class="footerContent">
         				<div class="row">
         					<div class="col-xs-5 col-xs-offset-5">
								<div class="box"> 
									<div class="slash"><i></i></div>
									<div class="nextpage_link">
										<span>Далее:</span>
										<a href="#">Проектирование</a>
									</div>
									<i class="nextpageArrow"></i>
								</div>
							</div>
         				</div>
         			</div>
         			<div class="bottomFooter">
         				<ul>
         					<li><router-link to="/">Главная</router-link></li>
			               	<li><router-link to="/tehnology">Технологии</router-link></li>
			               	<li><router-link to="/partners">Партнёры</router-link></li>
			               	<li><router-link to="/projects">Проекты</router-link></li>
			               	<li><router-link to="/about">О Компании</router-link></li>
         				</ul>
         				<div class="bottomline">		                  	
	                     	<span>2018 © ANTS Group</span>
	                  		<div class="developer"><span>Разработка</span></div>
               			</div>
         			</div>
      			</footer>
         	</div>         	
      		
		</div>
      	<div class="overleyPreload"></div>	
	</div>	
</template>

<script>
	import anime from 'animejs';	
	import Scrollbar from 'smooth-scrollbar';
	export default {		
		data () {
      		return {      			
		        frameNumber: 0,
         		playbackConst: 10,
         		vid: '',
         		percentag: 0,
         		videoblock: 0
      		}
      	},
      	methods: {  			
		    scrollPlay: function(){
		        var frameNumber = this.percentag / this.playbackConst;         
		        this.vid.currentTime = frameNumber;    
		        window.requestAnimationFrame(this.scrollPlay);     
		    }		    
      	},
      	mounted() {  
      		var scrollbar = Scrollbar.init(document.querySelector('.scrollInner'), {
  				thumbMinSize: 10,
  				damping: 0.05
  			});
				
      		// выставляем высоту блока относительно продолжительности видео
      		var vid = document.querySelector('#videoscroll');
      		vid.addEventListener('loadedmetadata', function() {
  				document.querySelector('.videoText').style.height = Math.floor(vid.duration) * this.playbackConst + "px";
			});

  			document.querySelector('.scrollbar-track-y').insertAdjacentHTML('beforeend', '<span>0%</span>');

  			scrollbar.addListener((status) => {
  				
				var percentage = Math.floor(status.offset.y / status.limit.y * 100), // процент скрол
					offsetHeight = document.querySelector('.scrollbar-track-y').offsetHeight, // высота скрола
					heightScroll = (offsetHeight - 7) * (percentage / 100), // расположение кружка
					thumb = document.querySelector('.scrollbar-track-y span'); // кружок

				thumb.innerHTML = Math.floor(percentage) + '%';
				thumb.style.transform = 'translateY('+(heightScroll)+'px)';								
				
				// определяем состояние когда уходит первый блок за пределы экрана вверх
				var offsetStart = Math.floor( offsetHeight / (status.limit.y - offsetHeight) * 100 ) - 2;
				var offsetEnd = Math.floor( (offsetHeight * 4) / (status.limit.y - offsetHeight) * 100 );

				
				document.querySelector('.videoanimate').style.transform = 'translateY('+status.offset.y+'px)'; 
				
				if (percentage >= offsetStart && percentage <= offsetEnd){
					this.percentag = percentage - offsetStart; 			
					// меняем слайды		
					if (percentage >= 10 && percentage < 20) {
						this.videoblock = 1;
					} else if (percentage >= 20 && percentage < 30){
						this.videoblock = 2;
					} else if (percentage >= 30){
						this.videoblock = 3;
					} else this.videoblock = 0;								
				}	

			});

			var loader = anime.timeline({
				loop: false,
				direction: 'alternative',
				complete: function(anim) {
					document.querySelector('.overleyPreload').classList.add('hide');
					anime({
					 	targets: '.arrowScroll',
					  	translateY: 10,
					  	duration: 3000,
					  	autoplay: true, 
					  	loop: true,
					  	direction: 'alternate',
					  	easing: 'linear'					  	
					});
				}  
			});    

			document.querySelector('.logo img').style.width = (window.innerWidth * 0.4) + 'px';

		    loader.add({
				targets: '.loader i',
				height: '100%',
				autoplay: true,         
				duration: 2000,
				easing: 'linear',
			}).add({
				targets: '.logo',
				width: '70%',
				duration: 1500,
				easing: 'easeInOutBack',
			}).add({
				targets: '.headerSlogan span',
				opacity: 1,         
				delay: function(el, i) { 
					return i * 200;
				}
			}).add({
				targets: '.arrowScroll', 
				opacity: 1,
				translateY: '-30%',
				duration: 500,
				easing: 'linear',
	      	});

			// генерим кнопки с анимацией
			var countB = Math.ceil(document.querySelector('.btn').offsetWidth / 20) + 1;
			var bgbtn = '';			
			for(var i = 1; i <= countB; i++){
				bgbtn += '<i><b></b><b></b><b></b></i>';
			}
			document.querySelectorAll('.bgbtn').forEach(function(elem) {
				elem.innerHTML = bgbtn;
			});

	      	document.querySelectorAll('.btn').forEach(function(elem) {	      		

      			var btn = anime({
		      		loop: false,
					direction: 'alternative',
					duration: 500,
					autoplay: false, 
					easing: 'linear',
					delay: function(el, i) { 					
						return i * 10;
					},
					targets: elem.querySelectorAll('.bgbtn b'),      		
	      			width: 20,      
	      			height: 20,
	  				translateY: -10,	
	  				translateX: -10,
	  				scale: 1.55
		      	});
		      	
			    elem.addEventListener("mouseenter", function() {
			        if (btn.reversed) btn.reverse();
	            	btn.play();	            	
			    });
			    elem.addEventListener("mouseleave", function() {
			       	if (!btn.reversed) btn.reverse();
            		btn.play();
			    });
			});

			document.querySelector('.loader').classList.add('loadstart');
		    this.vid = document.getElementById('videoscroll');
		    window.requestAnimationFrame(this.scrollPlay);
			
      	}
	}
</script>

<style lang="sass">	
	.page
		position: absolute
		width: 100%
		height: 100%
		left: 0
		top: 0
		overflow: hidden
	
	.scrollInner
		position: absolute
		width: 100%
		height: 100%
		left: 0
		top: 0
		overflow-y: scroll		
	
</style>