<template>
	<div class="page partnersPage">
		<h1>партнёры</h1>
	</div>	
</template>

<script>
	
	export default {
		data () {
      		return {
      			
      		}
      	},
      	methods: {
      		
      	},
      	mounted() {  
      		
      	}
	}
</script>

<style lang="sass">	
	

</style>