<template>
      <div class="page">
      	<h1>Проекты</h1>
      </div>	
</template>

<script>
	
	export default {
		data () {
      		return {
      			
      		}
      	},
      	methods: {
      		
      	},
      	mounted() {  
      		console.log(123);
      	}
	}
</script>

<style lang="sass">	
	

</style>